@model NotFake.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_StandAlone.cshtml";
}

<div class="float-navigation left">
    <a asp-action="Login" asp-controller="Auth" class="text-white float-navigation__link">
        <i class="fas fa-arrow-left fa-2x text-white"></i>
        <span class="ml-2">Back to Login</span>
    </a>
</div>

<section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="col-12 text-center">
            @* <i class="far fa-paper-plane fa-2x mb-2 text-white"></i> *@
            <i class="fas fa-american-sign-language-interpreting fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-2">Register</h2>
          </div>
          <form autocomplete="off" method="post" asp-controller="Auth" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div class="form-group">
                    <label asp-for="Email" class="col-form-label text-white">Email</label>
                    <div class="input-group input-group__with-icon">
                      <input type="email" asp-for="Email" class="form-control mr-0 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                      @if(ViewData.ModelState.Keys.Contains("Email"))
                      {
                        <div class="icon-content" data-toggle="tooltip" data-html="true" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["Email"].Errors)'>
                          <i class="fas fa-exclamation text-danger"></i>
                        </div>
                      }
                  </div>
                </div>

                <div class="form-group">
                  <label asp-for="Fullname" class="col-form-label text-white">Full Name</label>
                  <div class="input-group input-group__with-icon">
                    <input type="text" asp-for="Fullname" class="form-control mr-0 mb-3 mb-sm-0" id="fullname" placeholder="Please input your full name...">
                    @if(ViewData.ModelState.Keys.Contains("Fullname"))
                    {
                      <div class="icon-content" data-html="true" data-toggle="tooltip" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["Fullname"].Errors)'>
                        <i class="fas fa-exclamation text-danger"></i>
                      </div>
                    }
                  </div>
                </div>

               <div class="form-group">
                  <label asp-for="Password" class="col-form-label text-white">Password</label>
                  <div class="input-group input-group__with-icon">
                    <input type="password" asp-for="Password" class="form-control mr-0 mb-3 mb-sm-0" id="password" placeholder="Please input password...">
                    @if(ViewData.ModelState.Keys.Contains("Password"))
                    {
                      <div class="icon-content" data-html="true" data-toggle="tooltip" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["Password"].Errors)'>
                        <i class="fas fa-exclamation text-danger"></i>
                      </div>
                    }
                  </div>
                </div>

               <div class="form-group">
                  <label asp-for="ConfirmPassword" class="col-form-label text-white">Confirm Password</label>
                  <div class="input-group input-group__with-icon">
                    <input type="password" asp-for="ConfirmPassword" class="form-control mr-0 mb-3 mb-sm-0" id="confirmPassword" placeholder="Please re-input password...">
                    @if(ViewData.ModelState.Keys.Contains("ConfirmPassword"))
                    {
                      <div class="icon-content" data-html="true" data-toggle="tooltip" title='@Utility.ValidationErrorsTooltip(ViewData.ModelState["ConfirmPassword"].Errors)'>
                        <i class="fas fa-exclamation text-danger"></i>
                      </div>
                    }
                  </div>
                </div>

            <button type="submit" class="btn btn-primary mt-2 mx-auto btn-block">Register</button>
            <p class="text-danger">@ViewBag.RegisterError</p>
          </form>

        </div>
      </div>
    </div>
</section>
