@model IEnumerable<DAO.Models.Genre>

@{
    ViewData["Title"] = "GetGenres";
}

<h2>GetGenres</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            @foreach(var genre in ViewData["FilmNames"] as IList<List<string>>) 
             { 
                @foreach(var name in genre as List<string>)
                 {
                    <td>@name</td>
                 }
             }
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                <a asp-action="GetFilmsInGenre" asp-route-id="@item.GenreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
