@model List<NotFake.Models.MainPageViewModel>

@{
    ViewData["Title"] = "MainPage";
}
@foreach (var genre in Model)
{
<h3 class="text-white">@Html.DisplayFor(modelItem => genre.Genre.Name)</h3>

<div class="slick-carousel slick-carousel__home">
    @foreach (var item in genre.Films)
    {
        <div class="slick-carousel__item-wrapper">
            <div class="film-item">
                @* <div class="loader"></div> *@
                <img data-lazy="@item.ThumbnailAddress" alt="">
                <div class="film-item__description">
                    <a asp-route="WatchFilm" asp-route-filmId="@item.FilmId">
                        <i class="far fa-play-circle text-white"></i>
                        <span class="text-white">@item.Name</span>
                    </a>
                    <button 
                        class="btn" 
                        type="button" 
                        data-toggle="collapse"
                        data-target="#filmDetails-@item.FilmId" 
                        aria-expanded="false" 
                        aria-controls="filmDetails"
                    >
                        <i class="fas fa-chevron-down text-white"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<div id="filmDetailsAccordion">
    @foreach (var item in genre.Films)
    {
        <div class="collapse" id="filmDetails-@item.FilmId" data-parent="#filmDetailsAccordion">
            <partial name="_FilmDetailsPartial" model="@item" />
        </div>
    }
</div>

}
